/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* sheared Styles */
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
section{
    max-width: 1440px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
}
.primary-btn{
    padding: 10px 60px;
    border-radius: 12px;
    background-color: #FEA301;
    border: none;
}
.primary-btn a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #ffffff;
}
.section-title{
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 3.59375rem;
    color: #000000;
    text-align: center;
}
.card-title{
    font-weight: 700;
    font-size: 1.5325rem;
    line-height: 1.91875rem;
    color: #202020;
    text-align: center;
    margin-top: 32px;
    font-family: quicksand; 
}
.card-description{
    font-weight: 500;
    font-size: 0.943125rem;
    line-height: 1.76875rem;
    color: #808080;
    font-family: quicksand;
}

/* Navbar Styles */

nav{
    padding: 20px 0;
}
.navbar{
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 186px;
}
.nav-branding{
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-branding img{
    width: 62px;
    height: 62px;
}
.nav-branding h3{
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.875rem;
    color: #111111;
    text-transform: uppercase;
}
.nav-item{
    display: flex;
    gap: 32px;
}
.nav-item li{
    list-style: none;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
}
#home{
    color: #FEA301;
    font-weight: 700;
}
#about{
    color: #01ACFD;
}
#facilities{
    color: #05D4DF;
}
#admission{
    color: #5D58EF;
}

/* Hero Section Styles */

.hero-container{
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.hero-content{
    max-width: 640px;
}
.hero-content h1{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3.8125rem;
    color: #111111;
}
.hero-content p{
    font-weight: 400;
    font-size: 1.25rem;
    color: #111111;
    margin-top: 24px;
    margin-bottom: 24px;
}
.hero-content button{
    background-color: #111111;
}

/* Curriculam Section Styles */

.curriculum-container{
    max-width: 1160px;
}
.curriculum-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 28px;
    text-align: center;
    border-radius: 19px;
}
.curriculum-item{
    padding: 53px 38px;
    border-radius: 18.86px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.curriculum-item p{
    margin-top: 33px;
    margin-bottom: 33px;
}
.curriculum-item a{
    font-weight: 700;
    font-size: 0.943125rem;
    line-height: 1.76875rem;
    color: #808080;
    text-decoration: none;
}
#kinder{
    background: linear-gradient(rgba(222, 245, 255, 1) 0%,rgba(255, 255, 255, 0) 40%) ;
    border: 0.94px solid #DEF5FF;
}
#elementary{
    background: linear-gradient(rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border: 0.94px solid #FFF4DC;
}
#middle{
    background: linear-gradient(rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border: 0.94px solid #F2E8FF;  
}
.dual-icon{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.left-angle,.right-angle{
    width: 60px;
    height: 60px;
    color: #ffffff;
    background-color: #FEA301;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fa{
    font-size: 24px;
}